*, *:before, *:after {
  box-sizing: border-box;
}
body {
  // width: 100vw;
  background: url(../assets/LandlabClarence.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

img {
  float: left;
}
img:after {
  clear: both;
}
